.flex-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-list-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 85%;
    overflow: auto;
    align-content: space-around;
}
.submit{
    width: 100px;
}
.control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.control span{
    cursor: pointer;
}