.flex-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.submit{
    width: 100px;
}
.control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.control span{
    cursor: pointer;
}